* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

header menu ul {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

header menu ul li {
  list-style-type: none;
  cursor: pointer;
}

header menu ul li:hover{
  color: rgb(0, 255, 17)
}

body{
  margin: 0;
  padding: 0;
  background-image: url(./assets/808254.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#root{
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
}

div{
  background-color: white;
  margin: 12px;
  padding: 12px;
  border-radius: 5px;
}

.listinfo{
  > li {
    list-style-type: none;
    margin: 10px;
    cursor: pointer;
  }
  > li:hover{
    color: rgb(0, 255, 17);
  }
  > li:last-child{
    color: red;
  }
  > li:last-child:hover{
    color: rgba(255, 0, 0, 0.516);
  }
}

.headlogo{
  cursor: pointer;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 8rem;
  gap: 50px;
}

.error{
  color: red;
}

.search{
  > input{
    width: 80%;
    padding: 20px;
    margin: 10px;
  }

  >button{
    padding: 20px;
  }
}

.bookitem{
  cursor:pointer;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 1px black solid;
  > ul{
    padding: 0px;
    text-align: center;
  }
  > ul li {
    margin: 0px;
    
   list-style-type: none; 
  }
}

.bookitem:hover{
  background-color: rgba(255, 255, 0, 0.521);
}

.bookcontainer{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button{
  padding: 15px;
  color: white;
  background-color: black;
  border: 1px white;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

input{
  padding: 15px;
}

button:hover{
  background-color: rgba(0, 0, 0, 0.39);
}

.errbtn{
  background-color: red;
}

.errbtn:hover{
  background-color: rgba(255, 0, 0, 0.397);
}

.updbtn{
  background-color: rgb(60, 255, 0);
}

.updbtn:hover{
  background-color: rgba(60, 255, 0, 0.425);
}

.mainpurpose{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  > ul li{
    margin: 20px;
  }
}

.profile{
  cursor: pointer;
}

.commentinput{
  width: 80%;
}