* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header menu ul {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

header menu ul li {
  list-style-type: none;
  cursor: pointer;
}

header menu ul li:hover{
  color: rgb(0, 255, 17)
}

.listinfo{
  > li {
    list-style-type: none;
    margin: 10px;
    cursor: pointer;
  }
  > li:hover{
    color: rgb(0, 255, 17);
  }
  > li:last-child{
    color: red;
  }
  > li:last-child:hover{
    color: rgba(255, 0, 0, 0.516);
  }
}

.headlogo{
  cursor: pointer;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 8rem;
  gap: 50px;
}